@charset "UTF-8";

*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    border:0;
    outline: none;
    color:#353535;
}
button{
    cursor:pointer;
}